.leftPageClass{
    height: 100%;
    width: 30%;
    float: left;
    position:fixed
}
.rightPageClass{
    width: 70%;
    float: right;
}
.navigation {
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
}
ul {
    display: table;
    padding: 0px;
    list-style-type: none;
}
.iconfont {
    font-size: 20px;
    color: #fff;
}

li {
    margin-top: 15px;
}

a {
     text-decoration:none;
     color: #fff;
} 
