*{
  margin: 0;
  padding: 0;
}

.left-page {
  position: fixed;
  float: left;

  width: 30%;
  height: 100%;

  background: url(../images/cover.jpg);
}

.right-page {
  float: right;
  width: 70%;
}

.left-page .headshot img {
  display: block;

  width: 100px;
  height: 100px;
  
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 50%;
}

.left-page .intro h1 {
  padding: 5px;

  text-align: center;

  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: white;
}

.left-page .intro p {
  padding: 5px;

  text-align: center;

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

  color: white;

}

.left-page .navigation {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;
}

.left-page ul {
  display: table;
  padding: 0;
  list-style-type: none;
}

.left-page .navigation .iconfont {
  font-size: 20px;
  color: #fff;
}

.left-page li {
  margin-top: 20px;
}

.left-page a {
  text-decoration: none;
  color: #fff;
} 

 .right-page .right-title {
  width: auto;
  height: auto;
  margin-left: 50px;
  margin-bottom: 15px;
  margin-right: 50px;
  margin-top: 50px;
  border-bottom: 1px solid rgb(235, 228, 228);
}

.right-page .titleImg {
  width: 100%;
  height: 500px;

  text-align: center;
}

.right-page a {
  text-decoration: none;

  font: 100px;
  color:rgb(0, 140, 255);
}
  
.right-page .paper-list-show {
  width: auto;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(235, 228, 228);

  background-color: white;
}

.right-page .sub-papar-list-show {
  width: auto;
  height: auto;     
  margin-left: 150px;
  margin-top: 20px;
}

.right-page .paper-list-show img{
  position: relative;
  float: left;

  width: 100px;
  height: 100px;
}
  
.right-page h1, 
.article-page h1{
font-family: cursive;  
}

.right-page .font-time,
.article-page h2{
  text-align:left;
  font-size:18px ;
  color: darkgray;
}
.right-page p, 
.article-page p{
  font-size: 25px;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  color: rgb(109, 103, 103);
}

.article-top-banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid rgb(235, 228, 228);

  background-color: #fff;
}

.article-top-banner .iconfont {
  font-size: 30px;
  color: #000;
}

.article-top-banner p {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
}

.article-top-banner img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article-page{
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.article-page p{
  margin: 10px 0px 10px 0px;
}

.article-video video{
  width: 100%;
}