*{
  margin: 0;
  padding: 0;
}
 .body, html {
   height: 100%;
   margin: 0;
 }
.background {
  position: fixed;
  background-image: url(../images/city.jpg);
  filter: blur(10px);
  z-index: 1;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-page {
  position: absolute;
  background-color:rgb(247, 224, 224 ,0);
  z-index: 2;
  width: 100%;
  height: 100%;
}


.left-content {
  position: fixed;
  float: left;

  border: 3px solid white;
  width: 30%;
  height: 100%;
}

.right-page {
  float: right;
  width: 70%;
  z-index: 4;
  background-color: #fff;
}

.left-content .headshot img {
  display: block;

  width: 100px;
  height: 100px;
  
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 50%;
}

.left-content .intro h1 {
  padding: 5px;

  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: white;
}

.left-content .intro p {
  padding: 5px;

  text-align: center;

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

  color: white;

}

.left-content .navigation {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;
}

.left-content ul {
  display: table;
  padding: 0;
  list-style-type: none;
}

.left-content .navigation .iconfont {
  display: block;
  font-size: 20px;
  color: #fff;
  letter-spacing: 5px;}

  .left-content li {
  margin-top: 20px;
  letter-spacing: 0px;
}

.left-content a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0px;
} 

 .right-page .right-title {
  width: auto;
  height: auto;
  margin-left: 50px;
  margin-bottom: 15px;
  margin-right: 50px;
  margin-top: 50px;
  border-bottom: 1px solid rgb(235, 228, 228);
}

.right-title h2 {
  margin-bottom: 10px;
}

.right-title p {
  margin-bottom: 10px;  
}


.right-title img{
  margin-bottom: 20px;
}

.right-page .titleImg {
  width: 100%;
  height: 500px;

  text-align: center;
}

.right-page a {
  text-decoration: none;

  font: 100px;
  color:rgb(0, 140, 255);
  margin-bottom: 20px;
  font: 100;
  display: block;
}
  
.right-page .paper-list-show {
  width: auto;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(235, 228, 228);

  background-color: white;
}

.right-page .sub-papar-list-show {
  width: auto;
  height: auto;     
  margin-left: 150px;
  margin-top: 20px;
}

.right-page .sub-papar-list-show h2 {
  margin-bottom: 10px;
}

.right-page .sub-papar-list-show p{
  margin-bottom: 20px;
}



.right-page .paper-list-show img{
  position: relative;
  float: left;

  width: 100px;
  height: 100px;
}
  
.right-page h1, 
.article-page h1{
font-family: cursive;  
}

.right-page .font-time,
.article-page h2{
  text-align:left;
  font-size:18px ;
  color: darkgray;
}
.right-page p, 
.article-page p{
  font-size: 25px;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  color: rgb(109, 103, 103);
}

.article-top-banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid rgb(235, 228, 228);

  background-color: #fff;
}

.article-top-banner .iconfont {
  font-size: 30px;
  color: #000;
}

.article-top-banner p {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
}

.article-top-banner img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article-page{
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.article-page p{
  margin: 10px 0px 10px 0px;
}

.article-video video{
  width: 100%;
}

.archi-body{
  background-color: rgb(15, 14, 23);
}

.timeline-title{
  font-size: 20px;
  color: rgb(41, 409, 243);
  text-align: center;
  padding: 3% 0 3% 0;
}

.archi-timeline-row,
.archi-timeline-row-reverse{
  display: flex;
  justify-content: center;
  height: 40%;
}

.archi-timeline-row-reverse{
  flex-direction: row-reverse;
}

.archi-timeline-row .archi-article,
.archi-timeline-row-reverse .archi-time,
.archi-timeline-row-reverse .archi-grad-text {
  text-align: right;
}

.archi-timeline-row-reverse .archi-grad-text{
  float:right;
}

.archi-timeline-row .archi-time,
.archi-timeline-row .archi-grad-text,
.archi-timeline-row-reverse .archi-article {
  text-align: left;
}

.archi-article,
.archi-time{
  width: 40%;
  padding: 20px;
}


.archi-article h2{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(41, 409, 243);
  padding: 20px 0 20px 0;
}

.archi-article p{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(202, 211, 217);
  font-size: 18px;
  line-height: 150%;
}

.archi-time h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 20px 0 20px 0;
}

.archi-grad-text{
  width: 23%;
  background-image: linear-gradient(135deg, rgb(41, 409, 243), rgb(15,99,210));
  -webkit-background-clip: text;
  /*This Comment can not be deleted*/
  /*border-bottom: text;*/
  color: transparent;
}

.archi-top-line,
.archi-bot-line{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1%;
}

.archi-top-line{
  border-top: 3px solid rgb(235, 228, 228);
}

.archi-bot-line{
  border-bottom: 3px solid rgb(235, 228, 228);
}

.line-above-icon,
.line-below-icon{
  background-color:rgb(235, 228, 228);
  width:3px;
}

.line-above-icon {
  height: 10%;
}

.line-below-icon {
  height: 74%;
}
.archi-body .iconfont{
  font-size: 15px;
  color: rgb(41, 409, 243);
}